.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 84px 0 14px 0;
}

.section {
    width: 90%;
    background-color: #000;
    padding: 30px 14px;
    border-radius: 14px;
    z-index: 20;
}

.title {
    text-align: center;
    color: #fff;
    font-size: 30px;
    margin-bottom: 24px;
}

.content {
    text-align: center;
    color: #fff;
    display: grid;
    gap: 14px;
    padding: 14px 30px;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
}

.item {
    display: flex;
    gap: 14px;
    align-items: center;

    div {
        line-height: 150%;
    }
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    background-color: #30b400;
    color: #fff;
    padding: 8px 24px;
    margin-top: 24px;
    font-weight: medium;
    border-radius: 8px;
    transition: all 0.4s;

    &:hover {
        transform: scale(1.1);
    }
}

.copyText {
    margin-top: 44px;
}

@media (min-width: 640px) {
    .content {
        grid-template-columns: 1fr 1fr;
    }

    .section {
        width: 80%;
    }
}

@media (min-width: 768px) {
    .section {
        width: 70%;
    }
}