.submenuIcon {
    display: none;
    gap: 14px;
    align-items: center;
    font-size: 18px;
    font-size: bold;
    cursor: pointer;
}

.submenu {
    margin: 0 auto;
    max-width: 1280px;
    padding: 64px 14px 4px 14px;
}

.ul {
    display: none;
    list-style: none;
    padding: 14px 0;
    gap: 24px;

    li a {
        background-color: #121212;
        color: #fff;
        padding: 8px 14px;
        border-radius: 4px;
    }
}

@media (min-width: 550px) {
    .ul {
        display: flex;
    }
}

@media (max-width:550px) {
    .submenuIcon {
        display: inline-flex;
    }

    .submenu {
        padding: 80px 14px 4px 14px;
    }

    .ul {
        z-index: 99;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        width: 100%;
        height: 100%;

        &.open {
            display: flex;
        }

        li{
            a{
                background-color: transparent;
                color: #121212;
                font-size: 20px;
                font-weight: bold;
                transition: all 0.6s;
                &:hover{
                    background-color: #121212;
                    color: #fff;
                }
            }
            
        }
    }

}